*.log
*.xcuserstate
.DS_Store
.env
android/.gradle/
android/app/build/
android/build/
android/local.properties
dist/
flutter_app/.dart_tool/
flutter_app/android/.gradle/
flutter_app/android/app/build/
flutter_app/build/
flutter_app/ios/Pods/
ios/App/App/public/
ios/App/Pods/
ios/DerivedData/
node_modules/
